@page "/"

<h1 class="text-5xl">Planetary Impact Tracker</h1>

<div>
    <p>Years I have been vegan: @yearsVegan</p>
    <div class="mt-4 flex">
        <button
            @onclick="Increment">
            +
        </button>
        <button
            @onclick="Decrement"
            disabled="@(yearsVegan == 0)">
            -
        </button>
    </div>
</div>

<div class="text-gray-600 flex flex-wrap justify-around -mx-2 mt-4">
    @foreach (var card in statCards)
    {
        <div class="px-2 pb-8">
            <StatCard
                Title="@card.Title"
                Description="@card.Description"
                ImageSrc="@card.ImageSrc"
                Value="@(card.Value * yearsVegan)"/>
        </div>
    }
</div>


@code
{
    private static int yearsVegan = 0;

    private class Stat
    {
        public double Value { get; set; }
        public string Description { get; set; }
        public string Title { get; set; }
        public string ImageSrc { get; set; }
    }

    private readonly Stat[] statCards =
    {
        new Stat
        {
            Title = "CO2 Saved (kg)",
            Description = "A return flight from Sydney to Perth emits around 500kg of carbon",
            ImageSrc = "https://images.unsplash.com/photo-1532300481631-0bc14f3b7699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80",
            Value = 1500
        },
        new Stat
        {
            Title = "Water Saved (L)",
            Description = "One person who goes vegan can save approximately 219,000 gallons of water a year",
            ImageSrc = "https://images.unsplash.com/photo-1521207418485-99c705420785?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80",
            Value = 2000
        },
        new Stat
        {
            Title = "Animals saved",
            Description = "On average a single human will consume 100 animals every year",
            ImageSrc = "https://images.unsplash.com/photo-1560888126-5c13ad3f9345?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80",
            Value = 100
        },
        new Stat
        {
            Title = "Grain saved (kg)",
            Description = "Livestock need to eat grain that could be used to feed the hungry",
            ImageSrc = "https://images.unsplash.com/photo-1475333154578-0538252118ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80",
            Value = 7300
        },
    };

    public void Increment()
    {
        yearsVegan++;
    }

    public void Decrement()
    {
        if (yearsVegan != 0) yearsVegan--;
    }
}